<form class="signup" name="signupForm" novalidate>
    <h1 class="text-center">My info</h1>
     
    <div class="input-group">        
        <span class="input-group-addon">First name</span>
        <input class="form-control" name="firstName" type="text" ng-model="myInfoCtrl.info.firstName" readonly>                 
    </div>
    
    <div class="input-group">        
        <span class="input-group-addon">Last name</span>
        <input class="form-control" name="lastName" type="text" ng-model="myInfoCtrl.info.lastName" readonly>
    </div>    
    
    <div class="input-group">        
        <span class="input-group-addon">Email</span>
        <input class="form-control" name="email" type="email" ng-model="myInfoCtrl.info.email" readonly>
    </div>   
    
    <div class="input-group">        
        <span class="input-group-addon">Phone</span>
        <input class="form-control" name="phone" type="number" ng-model="myInfoCtrl.info.phone" readonly>
    </div>
    
</form>