
<form class="signup" name="signupForm" novalidate>
    <h1 class="text-center">Newsletter sign up</h1>
        
    <div class="input-group">        
            <span class="input-group-addon">Favorite food</span>
            <input class="form-control" name="favorite" type="text" placeholder="Short name code. For example L1" 
                    ng-model="signupCtrl.info.favoriteDish"
                    ng-model-options="{ updateOn: 'blur' }" 
                    required 
                    exist-menu-item
                    autofocus>
        </div>
        <div class="alert alert-danger" ng-if="signupForm.favorite.$error.required && signupForm.favorite.$touched">Required field</div> 
        <div class="alert alert-danger" ng-if="signupForm.favorite.$error.existMenuItem">No such menu number exists</div> 

    <div class="input-group">        
        <span class="input-group-addon">First name</span>
        <input class="form-control" name="firstName" type="text" ng-model="signupCtrl.info.firstName" minlength="3" required>                 
    </div>
    <div class="alert alert-danger" ng-if="signupForm.firstName.$error.required && signupForm.firstName.$touched">Required field</div> 
    <div class="alert alert-danger" ng-if="signupForm.firstName.$error.minlength && signupForm.firstName.$touched">Minimum length 3 characters</div> 
    
    <div class="input-group">        
        <span class="input-group-addon">Last name</span>
        <input class="form-control" name="lastName" type="text" ng-model="signupCtrl.info.lastName" required>
    </div>
    <div class="alert alert-danger" ng-if="signupForm.lastName.$error.required && signupForm.lastName.$touched">Required field</div> 
    
    <div class="input-group">        
        <span class="input-group-addon">Email</span>
        <input class="form-control" name="email" type="email" placeholder="example@server.com" ng-model="signupCtrl.info.email" required>
    </div>
    <div class="alert alert-danger" ng-if="signupForm.email.$error.required && signupForm.email.$touched">Required field</div> 
    <div class="alert alert-danger" ng-if="signupForm.email.$error.email && signupForm.email.$touched">Not valid email</div> 
    
    <div class="input-group">        
        <span class="input-group-addon">Phone</span>
        <input class="form-control" name="phone" type="number" ng-model="signupCtrl.info.phone" required>
    </div>
    <div class="alert alert-danger" ng-if="signupForm.phone.$error.required && signupForm.phone.$touched">Required field</div> 
    <div class="alert alert-danger" ng-if="signupForm.phone.$error.number && signupForm.phone.$touched">Not valid number</div>

    <div class="input-group">
        <button class="btn btn-primary" ng-click="signupCtrl.submit()" ng-disabled="signupForm.favorite.$pending.existMenuItem || signupForm.$invalid">Sign Up</button>
    </div>
    <div class="alert alert-success" ng-if="signupCtrl.submitResult">Your information has been saved</div>
    
</form>
